body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

hr {
   border: none;          
   height: 2px;           
   background-color: rgb(20, 20, 20);
}

#bar {
   background-color: rgb(97, 223, 255);
   border: 3px solid rgb(171, 235, 251);
   padding: 12px;
   display: flex;
   justify-content: flex-end; 
   align-items: center; 

   position: fixed;
   width: 100%;
   box-sizing: border-box;

   z-index: 1000;
}

#main_page {
   padding: 15px;
   display: flex; 
   justify-content: center;
}


#top_right {
   display: flex;
   align-items: center;
   gap: 15px;
}

.top_bar {
   color: black;
   font-size: 20px;
   text-decoration: none;
   padding: 4px;

   transition: transform 0.2s ease;
}

.top_bar:hover {
   transform: scale(1.2);
}

#Welcome {
   background-image: url("blue_background.avif");
   background-color: rgba(155, 235, 255, 0.783);
   background-blend-mode: overlay;
   background-size: cover;
   background-repeat: no-repeat;

   display: flex;
   justify-content: center;
   margin: 0;
   padding: 120px;
   font-size: 100px;

   transition: font-size 0.4s ease;
}

#Welcome:hover {
   font-size: 130px;
}

#about_me {
   background-color: rgb(195, 243, 255);
   border: 3px solid rgb(171, 235, 251);
}

#ME {
   font-size: 30px;
   margin: 1in;
}

#ABOUTME {
   text-align: center;
   font-size: 60px;
   padding: 20px;
   margin: 1in;
   line-height: 2px;
}

#smiley {
   width: 35%;
}

#skills {
   background-color: rgb(179, 240, 255);
   border: 3px solid rgb(171, 235, 251);
}

#SKILLS {
   text-align: center;
   font-size: 60px;
   padding: 20px;
   margin: 1in;
   line-height: 2px;
}

.skill {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 25px;
   margin-right: 1in;
}

#smiley1 {
   width: 35%;
   float: left;
}

.smiley2 {
   width: 20%;
}

#coding_experience {
   background-color: rgb(195, 243, 255);
   border: 3px solid rgb(171, 235, 251);
}

#CODINGEXP {
   text-align: center;
   font-size: 60px;
   padding: 20px 20px 10px 20px;
   line-height: 2px;
   margin: 1in 1in 0in 1in;
}

.language {
   display: none;
}

.language.active {
   display: show;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 27px;
}

.language p {
   text-align: center;
   max-width: 1100px;
}

.smiley3 {
   width: 60%;
}

#list_of_codeEXP {
   position: relative;
   display: flex;
   justify-content: space-between;
   gap: 15px;
   padding: 20px;
}

.buttons button {
   position: absolute;
   top: 35%;
   transform: translateY(-50%); 

   width: 44px;
   height: 44px;
   font-size: 20px;

   background-color: rgba(0, 0, 0, 0.8);
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 50%;
}

.prev {
   left: 200px;
}

.next {
   right: 200px;
}

#involvements {
   background-color: rgb(179, 240, 255);
   border: 3px solid rgb(171, 235, 251);
}

#INVOLVEMENTS {
   text-align: center;
   font-size: 60px;
   padding: 20px;
   margin: 1in;
   line-height: 2px;
}

.activities {
   font-size: 25px;
   margin-right: 1in;
}

#row1 {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

#row1 img {
   transition: transform 0.3s ease;
}

#row1 img:hover {
   transform: scale(1.25);
}

.activities p {
   display: none;
}

.activities p.on {
   display: block;
   display: flex;
   justify-content: center;
   text-align: center;
}

