body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin: 0;
}

hr {
   border: none;          
   height: 2px;           
   background-color: rgb(20, 20, 20);
}

#bar {
   background-color: rgb(97, 223, 255);
   border: 3px solid rgb(171, 235, 251);
   padding: 12px;
   display: flex;
   justify-content: flex-end; 
   align-items: center; 
}

#main_page {
   padding: 15px;
   display: flex; 
   justify-content: center;
}


#top_right {
   display: flex;
   align-items: center;
   gap: 15px;
}

.top_bar {
   color: black;
   font-size: 20px;
   text-decoration: none;
   padding: 4px;

   transition: transform 0.2s ease;
}

.top_bar:hover {
   transform: scale(1.2);
}

#Welcome {
   background-image: url("blue_background.avif");
   background-color: rgba(155, 235, 255, 0.783);
   background-blend-mode: overlay;
   background-size: cover;
   background-repeat: no-repeat;

   display: flex;
   justify-content: center;
   margin: 0;
   padding: 120px;
   font-size: 100px;

   transition: font-size 0.4s ease;
}

#Welcome:hover {
   font-size: 130px;
}

#about_me {
   background-color: rgb(195, 243, 255);
   border: 3px solid rgb(171, 235, 251);
}

#ME {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 30px;
   margin: 1in;
}

#ABOUTME {
   text-align: center;
   font-size: 60px;
   padding: 20px;
   margin: 1in;
   line-height: 2px;
}

#smiley {
   width: 35%;
}

#skills {
   background-color: rgb(179, 240, 255);
   border: 3px solid rgb(171, 235, 251);
}

#SKILLS {
   text-align: center;
   font-size: 60px;
   padding: 20px;
   margin: 1in;
   line-height: 2px;
}

.skill {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 25px;
   margin-right: 1in;
}

.smiley2 {
   width: 20%;
}

#coding_experience {
   background-color: rgb(195, 243, 255);
   border: 3px solid rgb(171, 235, 251);
}

#CODINGEXP {
   text-align: center;
   font-size: 60px;
   padding: 20px;
   line-height: 2px;
   margin: 1in;
}

.language {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 17px;
}

.smiley3 {
   width: 70%;
}

#list_of_codeEXP {
   display: flex;
   justify-content: space-between;
   gap: 15px;
   padding: 20px;
}

#involvements {
   background-color: rgb(179, 240, 255);
   border: 3px solid rgb(171, 235, 251);
}

#INVOLVEMENTS {
   text-align: center;
   font-size: 60px;
   padding: 20px;
   margin: 1in;
   line-height: 2px;
}

.activities {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 25px;
   margin-right: 1in;
}
